#Body {
    background-image: radial-gradient(blue,dodgerblue, floralwhite );
    background-size: cover;
  }
  .header {
      background-color: none;
      padding: 20px;
      text-align: center;
  }
  #image {
      float: right;
  }
  h1 {
    text-align: center;
    Color: black;
font-size: 40px
  }

  p {
    Color: black;
    font-size: 40px
  }
  .topnav {
      overflow:hidden;
      background-color: dodgerblue;
  }
  .topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align:center;
padding: 20px 90px;
text-decoration: none;
  }
  .topnav a:hover {
      background-color: powderblue;
      color: black;
  }
